*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: url(images/bg_white.svg);
    background-attachment: fixed;
    background-size: cover;
}
#landing_container{
    position:relative;
    min-height: fit-content;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
#landing_left{
    padding-left: 7%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width : 38%;
    min-height: fit-content;
    height: 100%;
}
#landing_right{
    width: 62%;
    height: 100%;
    min-height: fit-content;
    /* background-image: url(images/bg.svg); */
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
#landing_icon{
    transition: 0.1s linear;
    height: 60%;
    width: 90%;
    padding-bottom: 40px;
    max-width: 600px;
    filter: drop-shadow(5px 5px 4px #17172698);
}
#landing_bg{
    right: 0;
    position: absolute;
    z-index: -1;
    top:0;
    filter: drop-shadow(5px 5px 4px #17172698);
}
#left_container{
    filter: drop-shadow(5px 5px 4px #1717264b);
    width: 80%;
    height: fit-content;
}
#appTitle{
    color:#ff3b8d;
    font-size: 42px;
    line-height: 68px;
    font-weight: bold;
}
#left_container p{
    font-size: 16px;
    line-height: 26px;
    color: rgb(68, 68, 68);
}
#about_us{
    background-color: #ff3b8d;
    color: #fff;
    padding:5px;
    width: fit-content;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 15px;
}
#landing_left>img{
    filter: drop-shadow(5px 5px 4px #1717264f);
}
#menu_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    min-width: fit-content;
    min-height: fit-content;
    justify-content: space-evenly;
    
}
#menu_lft{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}
#menu_lft img{
    height: 400px;
    width: 400px;
    filter: drop-shadow(5px 5px 4px #ff3b8d2e);
    
}
#menu_lft img:hover{
    filter: drop-shadow(5px 5px 4px #ff3b8d59);
    
}
#menu_rht{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.menu_btn,.btn{
    border: 1px solid #ffffff;
    filter: drop-shadow(5px 5px 4px #1717264f);
    cursor: pointer;
    margin: 30px;
    width: 200;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    background-color: #ff3b8d;
    color: #fff;
    border-radius: 42px;
    box-shadow: inset 0 0 10px #ffffff;
}
a {
    text-decoration: none;
}
.btn a {
  color: #FFF;
}
.menu_btn:nth-of-type(1){
    background-color: #9B5DE5;
}
.menu_btn:nth-of-type(2){
    margin-left: 70px;
    background-color: #F15BB5;
    color: #0c0e38;
}
.menu_btn:nth-of-type(3){
    margin-left: 70px;
    background-color: #FEE440;
    color: #0c0e38;
}
.menu_btn:nth-of-type(4){
    background-color: #00BBF9;
}
.menu_btn:nth-of-type(1) a{
    color: #fff;
}
.menu_btn:nth-of-type(4) a {
    color: #fff;
}
.menu_btn:hover{
    box-shadow: inset 0 0 10px #2517524c;
}
.foot {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}








.WavyText{
    font-family: Arial, sans-serif;
    height: fit-content;
    width: fit-content;
    cursor: default;
}
a .WavyText{
  cursor: pointer;
  text-decoration: inherit;
}
.WavyText span{
    display: inline-block;
    height: fit-content;
    width: fit-content;
    min-width: 8px;

}
.WavyText:hover span{
    display: inline-block;
    -webkit-animation: wave-text 0.5s ease-in-out 1;
    animation: wave-text 0.5s ease-in-out 1;
}
.WavyText span:nth-child(5n + 0) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  .WavyText span:nth-child(5n + 1) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
  .WavyText span:nth-child(5n + 2) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .WavyText span:nth-child(5n + 3) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .WavyText span:nth-child(5n + 4) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  @keyframes wave-text {
    00% {
      transform: translateY(0em);
      filter: drop-shadow(5px 5px 4px #17172650);
    }
    60% {
      transform: translateY(-0.6em);
      filter: drop-shadow(5px 10px 4px #ff239160);
    }
    100% {
      transform: translateY(0em);
      filter: drop-shadow(5px 5px 4px #17172650);
    }
  }

  @keyframes idle-movement {
    00% {
      transform: translate(0px, 0px);
    }
    25% {
        transform: translate(10px, 10px);
    }
    50% {
        transform: translate(0px, 0px);
    }
    75% {
        transform: translate(-10px, -10px);
    }
    
    100% {
        transform: translate(0px, 0px);
    }
  }






















  /* Range input design */
  input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #FF3B8D;
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #FFFFFF;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #FF9DC6;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FF3B8D;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #FF3B8D;
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #FFFFFF;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #FF9DC6;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #FF3B8D;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #FF3B8D;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #FFFFFF;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #FF9DC6;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #FF3B8D;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #FF3B8D;
  }
  















  /* Radio input design */
  [type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #1b1b1b;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
