<html>
    <head>
        <title>Health Cal</title>
        <script src="./../static/script.js"></script>
        <link rel="stylesheet" href="./../static/style.css">
    </head>
    <body>
        <div id = "landing_container">
            <div id = "landing_left">
                <div id = "left_container">
                    <div id = "appTitle">Health Cal</div>
                    <p>
                        Not sure if you know this, but when we first 
                        I got so nervous,I couldn't speak.
                        In that very moment, I found the one
                        And my heart had found its missing piece.
                        So as long as I live I'll love you
                        Will have and hold you
                        You look so beautiful in white.
                    </p>
                    <div id = "about_us">
                        More info
                    </div>
                </div>
                <img src="./../static/images/bg_lft.svg">
            </div>
            <div id = "landing_right">
                <img id = "landing_icon" src="./../static/images/bg_icon.svg">
            </div>
            <img id = "landing_bg" src = "./../static/images/bg.svg">
            
        </div>
        <div id = "menu_container">
            <div id = "menu_lft">
                <img src="./../static/images/menu.svg">
            </div>
            <div id = "menu_rht">
                <div class = "menu_btn">Heart Risk</div>
                <div class = "menu_btn">Stroke Risk</div>
                <div class = "menu_btn">
                    <a href="diabetes.html">
                        <span style="display: block;">
                            Diabates Risk
                        </span>
                    </a>
                </div>
                <div class = "menu_btn">Maternity Risk</div>
            </div>
        </div>
    </body>
</html>