<html>
    <head>
        <title>Health Cal</title>
        <script src="./../static/script.js"></script>
        <link rel="stylesheet" href="./../static/style.css">
        <link rel="stylesheet" href="./../static/pages.css">
    </head>
    <body>
        <div class = 'container'> 
            <div class="inp-top">
                <img src="./../static/images/stat_illustration.svg">
                <div class="WavyText pageTitle" onclick="initWavyText(this)">
                    <span>D</span>
                    <span>i</span>
                    <span>s</span>
                    <span>e</span>
                    <span>a</span>
                    <span>s</span>
                    <span>e</span>
                    <span> </span>
                    <span>R</span>
                    <span>i</span>
                    <span>s</span>
                    <span>k</span>
                    <span> </span>
                    <span>D</span>
                    <span>e</span>
                    <span>t</span>
                    <span>e</span>
                    <span>c</span>
                    <span>t</span>
                    <span>i</span>
                    <span>o</span>
                    <span>n</span>
                </div>
            </div>
            <p style = "text-align: center; font-size: larger;">
                Introducing our new web application for disease prediction with an accuracy rate of ~80%! This tool utilizes cutting-edge machine learning algorithms to analyze a variety of factors and provide predictions for various diseases. With a user-friendly interface, our app allows for easy input of personal health information and generates personalized risk assessments.
            </p>
            <br>
            <p style = "text-align: center; font-size: larger;">
                It's important to note that while our app boasts a 70% accuracy rate, it is not a substitute for professional medical advice. If you are experiencing any concerning symptoms, please consult with a healthcare provider immediately. Our app is meant to be used as a supplemental tool to aid in disease prevention and early detection.
            </p>
            <br>
            <p style = "text-align: center; font-size: larger;">
                Whether you are a healthcare professional or an individual seeking to better understand your health, our disease prediction app can help you make informed decisions and take control of your wellbeing. With our app, you can monitor your risk of various diseases and make proactive lifestyle choices to mitigate potential health issues. So why not give our app a try today and take the first step towards a healthier tomorrow?
            </p>
            <div class="btn">
                <a href="/">
                    <span style="display: block;">
                        Back to Home
                    </span>
                </a>
            </div>  
        </div>
    </body>
</html>